.nav-bar{
	margin-top:1%;
	margin-left:7%;
}

.content{
	margin-right: 7%;
}
.greyBackground {
	background-color: #F0F0E9;
	margin-left:7%;
	margin-top:4%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 5px;
	margin-bottom: 5%;
	
}

.btn{
	margin: 2px;
}

input.search-query {
    border-radius: 3px;
}

.table thead th {
    background-color: #08C;
}

.footer{
	margin-left:7%;
	padding-top: 10px;
	background-color: #08C;
	border-radius: 5px;
	margin-right: 10%;
	padding-right: 20px;
	padding-left: 20px;
}

.footer-text{
	margin-left:3%;
	text-align: left;
	line-height: 35px;
	color: #FFF;

}